<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title></title>

  </head>

  <body>
  <div style="text-align: center;">
    <div>
    <%= yield %>
    </div>
  </div>
  </body>
</html>